.filter {
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: inline-block;
}

.filter__input {
  display: none;
}

.filter__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter__label:before {
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  border: 1px solid #a9a9a9;
  display: inline-block;
  margin-right: 0.5rem;
}

.filter__input:checked + .filter__label:before {
  background: red;
  border: 1px solid #d90101;
}
